<body class="bookswap-body-white"
    <h1 class="text-color2">My Books</h1>
    <div>
        {{#each data}}
        <div class="row">
            <div class="col">
                <div>
                    <div class="row">
                        <div class="col">
                            <h2 class="text-color2">{{this.book.title}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="mybooks-color2">By <div class="mybooks-color3">{{this.book.author}}</div></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <div class="row">
                        <div class="col">
                            Published By {{this.book.publisher}}
                        </div>
                        <div class="col">
                            Condition: {{this.condition}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Edition: {{this.book.edition}}
                        </div>
                        <div class="col">
                            Binding: {{this.book.state}}
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col">
                            ISBN: {{this.ISBN}}
                        </div>
                        <div class="col">
                            Status: {{this.status}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Uploaded: {{this.dateUploaded}}
                        </div>
                        <div class="col">
                            Type: {{this.transaction}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div class="row">
                        <div class="col">
                            <h5 class="mybooks-color1">Posted 9.13.17</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-lg mybooks-color1" id="round">$ SOLD THIS BOOK</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-lg mybooks-color1" id="round">SWAPPED THIS BOOK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</body>