<body class="bookswap-body-white">

	<div class="form-container-wishlist">
	    <h1 class="text-color2 pt-50">Wish list</h1>   
	    <div>
	        {{#each data}}
	        <hr>

	        <div class="book-details pb-30">
	        	<div class="sec1">
	        		<img src="img/no-image-available.jpg" style="width: 87px; padding-top: 15px;">
	        	</div>

				<div class="sec2">
					<h2 class="text-color2 font22">{{this.book.title}}</h2>
					<h5 class="mybooks-color2 font14">By <span class="author-name mybooks-color3">{{this.book.author}}</span></h5>

					<div class="sec2-1 pt-10">
						<h5 class="mybooks-color2 font14">Published <span class="author-name mybooks-color3">by {{this.book.publisher}}</span></h5>
						<h5 class="mybooks-color2 font14">ISBN: <span class="author-name mybooks-color3">{{this.ISBN}}</span></h5>
					</div>

					<div class="sec2-2 pt-10">
						<h5 class="mybooks-color2 font14">Edition Number: <span class="author-name mybooks-color3">{{this.book.edition}}</span></h5>
						<h5 class="mybooks-color2 font14">Binding: <span class="author-name mybooks-color3">{{this.book.state}}</span></h5>
					</div>

				</div>

				<div class="sec3">
					<button type="submit" class="btn btn-lg mybooks-color1 view-result-button" id="round" style="margin-left: 30px;">VIEW RESULTS > </button>
					<button type="submit" class="btn btn-lg mybooks-color2" style="float: right; background: transparent; margin-top: 8px;
    font-size: 14px;">X</button>
				</div>
				
	        </div>

<!-- 	        <div class="row">
	            <div class="col">
	                <div>
	                    <div class="row">
	                        <div class="col">
	                            <h2 class="text-color2 font22">{{this.book.title}}</h2>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col">
	                            <h5 class="mybooks-color2 font14">By <span class="author-name mybooks-color3">{{this.book.author}}</span></h5>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        
	    	<div class="row">
	            <div class="col">
	                <div>
	                    <div class="row">
	                        <div class="col">
	                            Published By {{this.book.publisher}}
	                        </div>
	                        <div class="col">
	                            ISBN: {{this.ISBN}}
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col">
	                            Edition Number: {{this.book.edition}}
	                        </div>
	                        <div class="col">
	                            Binding: {{this.book.state}}
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col">
	                <div>
	                    <div class="row">
	                        <div class="col">
	                            <button type="submit" class="btn btn-lg mybooks-color1" id="round">VIEW RESULTS > </button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col">
	                <div>
	                    <div class="row">
	                        <div class="col">
	                            <button type="submit" class="btn btn-lg mybooks-color2"><h1> X </h1></button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div> -->
	        {{/each}}
	    </div>
	</div>
</body>