<body class="bookswap-body-white">
    <h1 class="text-color2">Wish list</h1>   
    <div>
        {{#each data}}
        <div class="row">
            <div class="col">
                <div>
                    <div class="row">
                        <div class="col">
                            <h2 class="text-color2">{{this.book.title}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>By {{this.book.author}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <div class="row">
                        <div class="col">
                            Published By {{this.book.publisher}}
                        </div>
                        <div class="col">
                            ISBN: {{this.ISBN}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Edition Number: {{this.book.edition}}
                        </div>
                        <div class="col">
                            Binding: {{this.book.state}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</body>