<body class="bookswap-body-white">
    <div class="form-container-postbook">
        <h1 class="text-color2 pt-50 pb-50">Post a Book</h1>
        <div class="postbook-detail">
            <form method="GET" action="/postbook">
                <div class="pb-50">
                    <h3 class="postbook-detail-heading">Enter ISBN to Find a Book</h3>
                    <input type="text" required name="ISBNbook" {{#if book}} value={{book.0.ISBN}}{{/if}} class="postbook-detail-textField">
                </div>
            </form>
            <form method="POST" action="postBook">
                <div>
                    <div class="postbook-detail-left pt-10">
                        <h3 class="postbook-detail-heading">Condition</h3>
                        <input type="radio" name="condition" value="new"> New
                        <br>
                        <input type="radio" name="condition" value="average"> Average
                        <br>
                        <input type="radio" name="condition" value="poor"> Poor
                        <br>
                    </div>
                    <div class="postbook-detail-middle pt-10">
                        <h3 class="postbook-detail-heading">Transaction type</h3>
                        <input type="radio" name="transaction" value="both" class="postbook-details-name"> Both
                        <br>
                        <input type="radio" name="transaction" value="swap" class="postbook-details-name"> Trade
                        <br>
                        <input type="radio" name="transaction" value="sell" class="postbook-details-name"> Sell
                        <br>
                    </div>
                    <div class="postbook-detail-right pt-10">
                        <h3 class="postbook-detail-heading">Available on</h3>
                    </div>
                    <div>
                        <input type="date" value={{availableDate}} name="availableDate">
                    </div>
                    
                    
                    {{#if book}}
                    <div class="form-container-postbook">
	                    <h1 class="text-color2 pt-50">Book Found</h1> 
	                    <div>
	                        <hr>
	                        <div class="wishlist-entry pb-30">
	        	                <div class="book-img">
	        		                <img class="book-img-element" src="img/no-image-available.jpg">
	        	                </div>
                                <div class="postbook-details">
					                <div class="postbook-detail-left">
                                        <h2 class="postbook-details-title">{{book.0.title}}</h2>
                                        <h5 class="text-color2">, Edition<span class="text-color2">{{book.0.edition}}</span></h5>
				                        <h5 class="postbook-details-name">By <span class="postbook-details-value">{{book.0.author}}</span></h5>
                    	            </div>
					                <div class="postbook-details-right">
						                <h5 class="postbook-details-name">Published <span class="postbook-details-value">by {{book.0.publisher}}</span></h5>
						                <h5 class="postbook-details-name">ISBN: <span class="postbook-details-value">{{book.0.ISBN}}</span></h5>
					                </div>
				                </div>

				                <div class="postbook-additional">
                                    <input type="hidden" name='ISBN' value={{book.0.ISBN}}><input type="submit" class="btn btn-lg blue-btn viewresults-button-size" value="POST TO MY BOOKS">
				                </div>
	                        </div>
	                    </div>
	                </div>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</body>

<!--<form method="POST" action="userBooks/{{username}}"></form>>